@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: 'Righteous', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;1,600&display=swap');
/* font-family: 'Urbanist', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
/* font-family: 'Outfit', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    margin-top: 29.44px;
    margin-bottom: 16.96px;
}
header .logo h1{
    color: #F2994A;
font-family: 'Righteous', sans-serif;
font-size: 25.042px;
font-style: normal;
font-weight: 400;
line-height: 22.955px;
margin-right: 169.44px;
margin-left: 100px;
}

header .links ul{
    margin-right: 169.45px;
    display: flex;
    gap: 63.44px;
}
header .links a{
    color: #666;
font-family: 'Urbanist', sans-serif;
text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.955px; /* 143.468% */
    letter-spacing: 0.32px;
}
header .links a:hover{
    color: #F2994A;
}
header .links a span{
    color: #F2994A;

}
header .button button{
    color: #FFF;

font-family: 'Outfit', sans-serif;
border: none;
border-radius: 10px;
background: #F2994A;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 9.5px 0px;
padding-left: 22px;
padding-right: 20px;
}